/* Resets */
body, ol {
  margin: unset;
  padding: unset;
}

li {
  list-style-type: none;
}

h1 {
  margin: unset;
  font-size: unset;
  font-weight: unset;
}

/* Typography */
:root {
  font-family: "Montserrat", sans-serif;
}

/* Layouts */
.l_wrapper {
  width: 1200px;
  margin: 0 auto;
}

/* Components */
body {
  background-color: dodgerblue;
}

.timeline {
  background-color: rgb( 255 255 255 / .4 );
}

.timeline-header {
}

.timeline-header h1 {
  text-align: center;
  padding: 60px 0;
  font-size: 60px;
  color: white;
  font-weight: 800;
}

.timeline-contents {
  box-shadow: inset 0 0 20px purple;
}

.timeline-list li {
  background-color: orange;
  width: 50%;
}

.timeline-list li:nth-child(even) {
  margin-left: auto;
}
