/* Resets */
body, ol {
  margin: unset;
  padding: unset;
}

li {
  list-style-type: none;
}

h1 {
  margin: unset;
  font-size: unset;
  font-weight: unset;
}

/* Typography */
:root {
  font-family: "Montserrat", sans-serif;
}

/* Layouts */
.l_wrapper {

  /* max-width: 1200px -> 최대 사이즈를 1200px로 제한 */
  /* 즉 작아질 수 는 있다. */
  max-width: 1200px;

  /* width: auto -> 가득 차려고 노력 */
  width: auto;

  margin: 0 auto;
  padding: 0 40px;
}

/* Components */
body {
  background-color: dodgerblue;
}

.timeline {
  background-color: rgb( 255 255 255 / .4 );
}

.timeline-header {
}

.timeline-header h1 {
  text-align: center;
  padding: 60px 0;
  font-size: 60px;
  color: white;
  font-weight: 800;
}

.timeline-contents {
  padding-bottom: 240px;
}

/* 타임라인의 전반적인 레이아웃을 담당 */
.timeline-list {
  margin: 0 -20px;
}

.timeline-list li {
  width: 50%;
  padding: 0 20px;
  box-sizing: border-box;
  margin-bottom: -140px;
}

.timeline-list li:nth-child(even) {
  margin-left: auto;
}

.timeline-list li:last-child {
  margin-bottom: 0;
}

/* 실제 눈에 보이는 컴포넌트 (독립성) */
.year {
  background-color: white;
  width: auto;
  padding: 40px;
  min-height: 400px;
  border-radius: 40px;
}

@media ( max-width: 960px ) {
  .timeline-header h1 {
    font-size: 40px;
    padding: 30px 0;
  }
  .timeline-list li {
    width: unset;
    margin: 0 0 40px 0;
  }
}